/* color body/main and police  */
body
{
  background-color: #AD7A99;
  color: #EAE0CC;
}

/* color ol blog article */
ol, .lire
{
  background-color: #9E6F8C;
}

h1, .h2center, .pictmain, ol, .lire
{
  text-align: center;
}

.welcome
{
  text-decoration: underline;
}
